body {
  margin: 0;
  font-family: 'Releway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  border-color: #fff;
  
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

p{
  margin: 0 0 10px;
}

/*----Container----*/
.container{
  width: 100%;
  max-width: 1179px;
  margin: 0 auto;
}

/*----header----*/
.header{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.container{
  margin: 0 auto;
}

.header_inner{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #525369;
  padding: 35px 0;
  align-items: center;
}

.header_logo{}

/*----nav----*/
.nav{
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav_link{
  color: white;
  text-decoration: none;
  margin-left: 50px;
  opacity: 0.80;
  transition: opacity 0.2s linear;
}

.nav_link:first-child{
  margin-left: 0;
}

.nav_link:hover{
  opacity: 1;
}

/*----intro----*/
.intro{
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 750px;
  background: #31344e url("img/intro-bg.jpg") center / cover;
  padding-top: 100px;
}

.intro_inner{
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro_title{
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  color: white;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
}

.intro_subtitle{
  font-size: 22px;
  color: white;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 60px;
}

/*----btn----*/
.btn{
  border: 0;
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 14px 40px;
  text-decoration: none;
  transition: background .4s linear;
}

.btn--red{
  background: #dd3434;
}
.btn--red:hover {

  background: #e84545;
}
